services:
  web:
    build: .
    command: ["python3", "manage.py", "runserver", "0.0.0.0:8000"]
    volumes:
      - .:/app
    depends_on:
      - db
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - nw

  db:
    image: postgis/postgis:15-3.4-alpine
    restart: always
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    networks:
      - nw

networks:
  nw:
    driver: bridge
